$primary-color: #03B0C1;
$secondary-color: #063D54;
$background-primary: #f9f9f9;
$background-delete: #CD585A;
$background-delete2: #781c1d;
$background-edit: #f5be19;
$background-edit2: #aa8004;
$background-view: #57A96D;
$background-view2: #2e6a3e;
$error-color: red;